@import '../util/util';


//////////////////////////////////////////////////////////////////////////////
/*********************[    Editor     ]**************************************/

.CodeMirror {
  height: 100%;
}



//////////////////////////////////////////////////////////////////////////////
/*********************[    Macros     ]**************************************/

@mixin hidetext() { // NEVER use display: none to hide a span!
  color: transparent;
  font-family: get("f.code");
  font-size: 10px;
  letter-spacing: -5px; // Hide the text and set width=0
}

@mixin lineafter($margintop) {
  &:after {
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    content: ' ';
    margin-top: $margintop + px;
    margin-bottom: 10px;
    height: 1px;
    background: get("c.struct");
  }
}

@mixin linebefore($margintop) {
  &:before {
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    content: ' ';
    margin-top: $margintop + px;
    margin-bottom: 10px;
    height: 1px;
    background: get("c.struct");
  }
}

//////////////////////////////////////////////////////////////////////////////
/*********************[    General    ]**************************************/

.cm-s-difos-default {
  font-family: get("f.text");
  line-height: 1.7;
  font-size: get("fontsize");

  .cm-control {
    color: get("c.control");
  }

 &.WYSIWYG .cm-control {
    @include hidetext();
  }


  
    
//////////////////////////////////////////////////////////////////////////////
/*********************[ 1a) Math      ]**************************************/

&.math-visual .cm-math {
  @include hidetext();
}
&:not(.math-visual) .cm-math {
  padding-right: 0;
  //line-height: inherit;
  line-height: 2.5; 
}

.cm-math {
  color: get("c.math");
}

.cm-imath {
  color: get("c.math");
}


//////////////////////////////////////////////////////////////////////////////
/*********************[ 1b) Src       ]**************************************/

.cm-isrc {
  font-family: get("f.code");
  background: rgba(0,0,0,0.05);
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.1);
  padding: 3px;
  line-height: 1.7;
}

.cm-src {
  font-family: get("f.code");
  width: 100%;
  margin: 0;
}

.cm-src-title {
  font-weight: bold;
  @include linebefore(-28);
}

.cm-src-language {
  font-variant: small-caps;
}

.cm-src-open {
  @include lineafter(0);
}
.cm-src-close {
  @include lineafter(0);
}


//////////////////////////////////////////////////////////////////////////////
/*********************[ 1c)   Media   ]**************************************/

.cm-url {
  text-decoration: underline;
  color: get("c.link");
}

.cm-link-text {
  text-decoration: underline;
  color: get("c.link");
}

.cm-reference {
  text-decoration: underline;
  color: get("c.link");
}

.mq-editable-field.mq-focused {
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}



//////////////////////////////////////////////////////////////////////////////
/*********************[ 2) Structure  ]**************************************/

  .cm-h1 { 
    color: get("c.text");
    font-size: get("fontsize") * pow(get("fontratio"),2);
    font-weight: bold;
    font-family: get("f.h1");
    line-height: 3.0; // TODO: Das muss besser gehen: Mehrzeilige Header sehen total komisch aus. Bitte zusammenziehen!
    @include lineafter(-39);
  }

  .cm-h2 {
    color: get("c.text");
    font-size: get("fontsize") * pow(get("fontratio"),1);
    font-weight: bold;
    font-family: get("f.h2");
    line-height: 3.5;
    @include lineafter(-28);
  }

  .cm-h3 {
    color: get("c.text");
    font-size: get("fontsize") * pow(get("fontratio"),0);
    font-weight: bold;
    line-height: 3.5;
    font-display: get("fonts.text");
  }

  
//////////////////////////////////////////////////////////////////////////////
/*********************[ 3) List       ]**************************************/
 
  .cm-list-space {
    @include hidetext();
  }
  .cm-list-space-after {
    padding-right: 0;
  }

  @for $i from 0 through 50 {
    .cm-list-extra-space#{$i} {
      padding-left: get("indent") - $i;
    }
  }

  @for $i from 1 through 16 {
    .cm-list-level#{$i} {
      padding-left: $i * get("indent");
    }
  }

  .cm-list-star {
    color: transparent;
    font-family: get("f.code");
    size: 13px;
    &:before {
      position: absolute;  
      margin-left: 3px;
      margin-top: 13px;
      width: 4px;
      height: 4px;
      background: get("c.text");
      border-radius: 50%;
      content: " ";
    }
  }
  .cm-list-quot {
    color: transparent;
    font-family: get("f.code");
    size: 13px;
    &:before {
      position: absolute;  
      margin-left: 2px;
      margin-top: 0;
      width: 3px;
      height: 100%;
      background: get("c.struct");
      content: " ";
    }
  }


  
//////////////////////////////////////////////////////////////////////////////
/*********************[ 5) Decoration  ]**************************************/

  .cm-bold {
    font-weight: bold;
  }
  .cm-italic {
    font-style: italic;
  }
  .cm-caps {
    font-variant:small-caps;
  }

  .cm-strike {
    text-decoration: line-through;
  }
  

  
//////////////////////////////////////////////////////////////////////////////
/*********************[ 6) Other Objects ]***********************************/
 
.cm-qed-box {
  float: right;
  color: transparent;
  font-family: get("f.code");
  font-size: 12px;
  &:before {
    display: inline-block;
    position: absolute;
    content: ' ';
    width: 10px;
    margin-top: 8px;
    height: 10px;
    border:  1px solid get("c.text");
  }
}

.cm-qed {
  float: right;
}


.cm-nut {
  @include hidetext();
  padding-right: 10px;
  padding-left: 10px;
  &:before {
    display: inline-block;
    position: absolute;
    content: '–';
    color: get("c.text");
    margin-left: -4px;
    font-family: get("f.text");
    font-size: get("fontsize");
  }
}

  

}