


$c_text: #000; // Normal text-color
$c_struct: #eee; // thin Structure-lines and shapes 
$c_h1: #000; // Large Headers
$c_h2: #000; // Other Headers


$f_text: "Droid Sans"; // Normal font
$f_code: "Inconsolata"; // Code font
$f_h1: "Droid Sans"; // Large Headers
$f_h2: "Droid Sans"; // Other Headers


$fontsize: 12pt;  // default font-size
$fontratio: 1.61803398875; // Ratio from font-size per level