node_modules
*.map
dist
package-lock.json
x64
*.cmake
.vs
*.vcxproj
*.filters
bin
*.sln
CMakeFiles
fhaskell.dir
*.pdb
*.grm*.txt
*.lgr*.txt
CMakeCache.txt
*.wasm
*.pch
typings
create.md
mathquill-matrix